Repository PhillipsAuctionHouse/seldon, changes with the owners that .github/CODEOWNERS names for each.
All owners: @davidicus, @Sisawat, @adietrich3074, @scottdickerson

.github/CODEOWNERS:

# This CODEOWNERS file defines individuals or teams that are responsible
# for code in this repository.

#####
# Code owners are automatically requested for review when someone
# opens a pull request that modifies code that they own. This repository
# has enabled the `required reviews` setting, and therefore all PR's require
# approval from a code owner before the author can merge a pull request.
# Further documentation: https://help.github.com/articles/about-codeowners/

#####
# These owners are the default owners for everything in the repo.
# Unless a later match takes precedence, the users below will be
# requested for review when someone opens a pull request.

#####
# These users own any files in the following directory at the root of
# the repository and any of its subdirectories.

* @davidicus @Sisawat @adietrich3074 @scottdickerson

#####
# Admin should be notified of changes to build/test/deploy

# Core dependencies
/package-lock.json  @davidicus @scottdickerson
/package.json       @davidicus @scottdickerson

# Configuration files
tsconfig.node.json  @davidicus @scottdickerson
vite.config.ts      @davidicus @scottdickerson
tsconfig.json       @davidicus @scottdickerson
/.nvmrc             @davidicus @scottdickerson

# Deploy configuration
**/.storybook/      @davidicus @scottdickerson
/.github/           @davidicus @scottdickerson

fix(footer): changes from feedback
  src/components/Button/Button.tsx
  src/components/Button/_button.scss
Owners: @davidicus, @Sisawat, @adietrich3074, @scottdickerson

ci(dependabot): fix commit message
  .github/dependabot.yml
  src/design/type-tokens/type-tokens.mdx
Owners: @davidicus, @scottdickerson, @Sisawat, @adietrich3074

build(commitlint): update version
  package-lock.json
  package.json
  src/design/type-tokens/type-tokens.mdx
Owners: @davidicus, @scottdickerson, @Sisawat, @adietrich3074

fix(errorboundary): fix type error for console log
  package-lock.json
  src/components/ErrorBoundary/ErrorBoundary.tsx
  src/design/type-tokens/type-tokens.mdx
Owners: @davidicus, @scottdickerson, @Sisawat, @adietrich3074

chore: adding eslint ignore rule for storybook and aligning package lock with my changes
  .eslintignore
  package-lock.json
Owners: @davidicus, @Sisawat, @adietrich3074, @scottdickerson

chore(release): 1.17.5 [skip ci]
  CHANGELOG.md
  package.json
Owners: @davidicus, @Sisawat, @adietrich3074, @scottdickerson

Notes added by 'git notes add'
  c0490467c23c2fe27c5ab3e51c3b15a243fcd8b2
Owners: @davidicus, @Sisawat, @adietrich3074, @scottdickerson

chore: fix package back tick from merge
  package-lock.json
  package.json
Owners: @davidicus, @scottdickerson

feat(link): create variations of link component
  .github/PULL_REQUEST_TEMPLATE.MD
  README.md
  src/components/Link/Link.figma.tsx
  src/components/Link/Link.stories.tsx
  src/components/Link/Link.test.tsx
  src/components/Link/Link.tsx
  src/components/Link/_link.scss
  src/components/Link/utils.ts
  src/design/type-tokens/type-tokens.mdx
  src/scss/_type.scss
  src/scss/_typography.scss
  tsconfig.json
  vite.config.ts
Owners: @davidicus, @scottdickerson, @Sisawat, @adietrich3074

fix(montserrat): remove unnecessary font
  public/fonts/Montserrat-SemiBold.woff
  public/fonts/Montserrat-SemiBold.woff2
  src/design/type-tokens/type-tokens.mdx
  src/scss/_typography.scss
Owners: @davidicus, @Sisawat, @adietrich3074, @scottdickerson

chore(lint): run lint as part of commit
  .husky/pre-commit
  .husky/pre-push
  src/design/type-tokens/type-tokens.mdx
Owners: @davidicus, @Sisawat, @adietrich3074, @scottdickerson

fix(index): need to export link component
  .github/PULL_REQUEST_TEMPLATE.MD
  src/design/type-tokens/type-tokens.mdx
  src/index.ts
Owners: @davidicus, @scottdickerson, @Sisawat, @adietrich3074
